
<p-card [style]="{margin: '0 auto', width: '85%'}">
  <div class="ui-fluid">
    <p-autoComplete placeholder="Type search term..."
      [(ngModel)]="searchQuery" 
      [suggestions]="terms"
      (completeMethod)="searchTerms($event)"
      [multiple]="true" 
      [autoHighlight]="true" 
      [forceSelection]="true" 
      [autofocus]="false" 
      [style]="{width: '100%'}"
      (onSelect)="liveSearchEnabled && search()"
      (onUnselect)="liveSearchEnabled && search()"></p-autoComplete>
  </div>
  <div style="text-align: center;padding: 5px;">
    <button [disabled]="searchQuery.length==0" (click)="search()" pButton type="button" label="Search" class="ui-button-rounded" style="margin: 10px;"></button>
    <p-checkbox [(ngModel)]="liveSearchEnabled" [binary]="true" style="margin: 0 auto;"></p-checkbox> Live search
  </div>
</p-card>

<p-toast></p-toast>
